.certifications {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    word-wrap: break-word;
}

.certifications li a {
    text-decoration: none;
    color: gold;
}
.certifications li a:hover {
    text-decoration: underline;
}